    <section class="hero">
        <div class="container mx-auto flex items-center justify-around">
            <div>
                <h6 class="xl:text-3xl lg:text-2xl sm:text-xl text-center mb-3"><em> Have a nice day !</em></h6>
                <a href="">
                    <h1 id="text_order" class="px-5 lg:text-6xl md:text-4xl sm:text-xl font-bold rounded-full">Order now!</h1>
                </a>
            </div> 
            <div>
                <img src="/image/logo_primary.png" alt="logo_primary">
            </div>
        </div>
    </section>
    <section id="products" class="menu container mx-auto py-8">
            <h1 class="text-xl font-bold">All Coffee</h1>
            <div class="grid xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 col-gap-12 row-gap-16">
        <% menu.forEach(function (element){ %>
                <div class="md:w-64 w-full rounded-full">
                    <img class="h-64 md:w-64 w-full" src="/image/<%= element.img %>" alt="coffee_phusi">
                    <div class="text-center">
                        <h2 class="font-bold"><%= element.name%> </h2>
                        <h4>Size: <%=element.size[0]%></h4>
                        <div>
                            <!-- <h2 class="price-to-cart font-size text-lg mt-3 text-3xl"><% if(element.size === "L"){ %>5$ <%}else{%>3$ <%}%> </h2> -->
                            <h2 class="price-to-cart font-size text-lg mt-3 text-3xl"> <%= element.price %>$ </h2>
                            <button data-coffee="hih" data-menu="<%= JSON.stringify(element) %>" class="add-to-cart focus:border-pink-700 px-3 mt-3 border-solid rounded-full text-3xl">
                                <span>+</span>
                                <span>Add<span>
                            </button>
                        </div>
                    </div>
                </div>
        <% }) %>
             </div>
    
    </section>

