<section>
  <% if(messages.error){%>
  <h2 class="text-red-500 text-center"><%= messages.error %></h2>
  <%}%>
  <div class="container mx-auto xl:w-1/2 mt-5">
    <div>
      <h1 class="font-bold text-xl border-b border-gray-600">All items</h1>
    </div>
    <% if(session.cart){ for(const element in session.cart.items){ 
      const coffee= session.cart.items[element].item 
      const qty =session.cart.items[element].qty%>
    <div class="flex items-center justify-between border-b border-gray-600">
        <img
          class="md:w-50 md:h-50 w-20 h-20"
          src="/image/<%= coffee.img %>"
          alt="phusi_coffee"
        />
        <div class="text-right text-pink-500 mt-3 md:text-xl text-sm font-bold ">
          <div>
            <h1 class=""><%= coffee.name%></h1>
            <span>Price: </span>
            <span class="text-green-500"><%= coffee.price%></span>
          </div>
          <div>
            <span>Size:</span>
             <span class="text-green-500"><%= coffee.size[0]%></span>
          </div>
            <span>Qty:</span>
            <span class="text-green-500"> <%= qty%></span>
        </div>
        <div class="md:text-xl text-sm text-pink-500">
          <span>Amount:</span>
          <span class="text-green-500"> <%= qty*coffee.price%> $</span>
        </div>
    </div>
      <%}}else{%>
      <div class="flex items-center justify-between border-b border-gray-600">
        <a href="/#products" class="hover:text-pink-700 font-bold md:3xl text-lg">Empty cart! Click to buy now!</a>
      </div>
      
      <%}%>

      <div class="mt-3 text-right mt-4">
      <a href="/#products" class="mt-10 hover:bg-blue-300 font-bold font-italic md:text-3xl text-lg bg-pink-200 px-4 py-2 text-red-500 rounded-md" >Buy More !</a>
        <% if(user){ 
          if(session.cart){%>
        <div class="text-3xl mt-2 font-bold text-pink-500">
          <span>Total amount : </span>
          <span class="mb-2 text-green-500"><%=session.cart.totalPrice%> $</span>
        </div>
        <form action="/orders" method="POST">
          <div class="mb-3">
            <label for="" class="mr-3 md:text-xl text-sm text-pink-500 font-bold">Number Phone</label>
          <br>
            <input
            autocomplete="off"
              name="phone"
              type="text"
              class="format-cart py-2 px-2"
            />
          </div>
          <label for="" class="mr-3 md:text-xl text-sm  text-pink-500 font-bold">Address</label>
          <br>
          <textarea
            class="format-cart py-2 px-2"
            name="address"
            cols="20"
            rows="5"
            placeholder="Please write note!"
          ></textarea>
          <br />
          <label for="" class="mr-3 md:text-xl text-sm  text-pink-500 font-bold">Note</label>
          <br>
          <textarea
            class="format-cart py-2 px-2"
            name="note"
            cols="20"
            rows="5"
            placeholder="Please write note!"
          ></textarea>
          <br />
          <button
            type="submit"
            class="submit hover:bg-blue-300 font-bold font-italic text-3xl bg-pink-200 px-4 py-2 text-red-500 rounded-md"
          >
            Order now
          </button>
        </form>
      </div>

      <%}}else{%>
      <a href="/login" class="submit hover:bg-blue-300 font-bold font-italic md:text-3xl text-lg bg-pink-200 px-4 py-2 text-red-500 rounded-md"
        >Login to order</a
      >
      <%}%>
    </div>
  </div>
  <br />
  <br />
  <br />
  <br />
  <br />
  <!-- <div class="mt-3 text-center text-xl italic text-pink-500">
        <h1>CART EMPTY!</h1>
        <p>Please add items to cart</p>
        <a class="back rounded-full px-2" href="/">BACK</a>
        <img class="w-2/5 mx-auto" src="/image/empty_cart.png" alt="empty_cart">
    </div> -->
</section>
