<section class="">
  <% if(messages.success) { %>
  <div
    id="success-message"
    class="mt-10 container mx-auto text-center text-white bg-green-400 h-10 w-2/3 leading-10 rounded-full"
  >
    <%= messages.success%>
  </div>

  <% } %>

  <div class="mt-5 flex justify-around ">
    <table class="table-auto history-orders">
      <tr>
        <td class="border px-4 py-2">Orders</td>
        <td class="border px-4 py-2">Note</td>
        <td class="border px-4 py-2">Address</td>
        <td class="border px-4 py-2">Phone</td>
        <td class="border px-4 py-2">Status</td>
        <td class="border px-4 py-2">Time</td>
      </tr>
      <% if(orders){ orders.forEach( (order) => { %>
      <tr>
        <td class="border px-4 py-2 text-blue-500 hover:text-pink-500">
          <a href=""><%= order._id%></a>
        </td>
        <td class="border px-4 py-2"><%= order.note%></td>
        <td class="border px-4 py-2"><%= order.address%></td>
        <td class="border px-4 py-2"><%= '0'+order.phone%></td>
        <td class="border px-4 py-2"><%= order.status%></td>
        <td class="border px-4 py-2">
          <%= moment(order.createdAt).format('LLLL')%>
        </td>
      </tr>
      <%})}%>
    </table>
  </div>
</section>
